
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap');
$recipe-font: 'Cormorant Unicase';

$button-color: green;
%flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  @extend %flex-center;
  flex-direction: column;
  height: 95vh;
  width: 100vh;
  border: 2px solid black;
}

main {
  @extend %flex-center;
  font-family: $recipe-font;

  section {
    @extend %flex-center;
    flex-direction: column;
    height: 60vh;
    width: 40vh;  
    border: 10px solid white;
    background-color: #1b1b1b;
    color: #eeeeee;

    h3 {
      height: 50px;
    }

    ul {
      @extend %flex-center;
      flex-direction: column;
      height: 20vh;
      font-size: 28px;
      list-style: none;

      .espresso-martini__img {
        height: 200px;
      }
    }

  
    button {
      margin: 20px;
      background-color: $button-color;
      padding: 10px 30px;
      border-radius: 5px;
      color: white;
      border: 2px solid black;
    }
  }
}

.bar {
  @extend %flex-center;
  flex-direction: column;
  justify-content: space-around;
  font-family: $recipe-font;
  height: 95vh;
  width: 100vh; 
  border: 2px solid black;

  .top-shelf {
    padding: 40px 10px 0 10px;
    background-color: #1b1b1b;
    height: 20vh;
    width: 90vh;
    border: 2px solid black;
    border-bottom: 20px solid saddlebrown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #espresso-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .espresso__img {
        pointer-events: none;
        margin-left: 10px;
        margin-top: 45px;;
        height: 50px;
      }
    }

    #lemon-juice-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .lemon-juice__img {
        pointer-events: none;
        height: 100px;
      }
    }

    #simple-syrup-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .simple-syrup__img {
        pointer-events: none;
        height: 100px;
      }
    }

    #creme-de-mure-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .creme-de-mure__img {
        pointer-events: none;
        height: 100px;
      }
    }
  }

  .bottom-shelf {
    background-color: #1b1b1b;
    padding: 40px 10px 0 10px;
    height: 20vh;
    width: 90vh;
    border: 2px solid black;
    border-bottom: 20px solid saddlebrown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #vodka-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .vodka__img {
        pointer-events: none;
        height: 100px;
      }
    }

    #gin-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .gin__img {
        pointer-events: none;
        height: 100px;
      }
    }

    #cof-liq-box {
      @extend %flex-center;
      background-color: white;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
      .cof-liq__img {
        pointer-events: none;
        height: 100px;
      }
    }
  }

  .bar-top {
    margin: 10px 0 10px 0;
    height: 20vh;
    width: 90vh;
    border: 2px solid black;
    background-color: saddlebrown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    #ice {
      @extend %flex-center;
      background-color: white;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
    }
    
    #shake {
      @extend %flex-center;
      background-color: white;
      margin: 10px 10px 0 10px;
      height: 150px;
      width: 150px;
      border: 2px solid black;
    }
  }
}

.result-win {
    @extend %flex-center;
    border: 2px solid black;
    font-family: $recipe-font;
    height: 95vh;
    width: 100vh; 
  
    #outcome {
      @extend %flex-center;
      flex-direction: column;
      height: 60vh;
      width: 40vh;  
      border: 10px solid white;
      background-color: #1b1b1b;
      color: #eeeeee;
  
      h3 {
        height: 50px;
      }
  
      ul {
        @extend %flex-center;
        flex-direction: column;
        height: 20vh;
        font-size: 28px;
        list-style: none;
  
        .espresso-martini__img {
          height: 300px;
        }
      }
    
      button {
        margin: 20px;
        background-color: $button-color;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        border: 2px solid black;
      }
    }
  }

  .result-lose {
    @extend %flex-center;
    border: 2px solid black;
    font-family: $recipe-font;
    height: 95vh;
    width: 100vh; 
  
    #outcome {
      @extend %flex-center;
      flex-direction: column;
      height: 60vh;
      width: 40vh;  
      border: 10px solid white;
      background-color: #616161;
      color: #eeeeee;
  
      h3 {
        height: 50px;
      }
  
      ul {
        @extend %flex-center;
        flex-direction: column;
        height: 20vh;
        font-size: 28px;
        list-style: none;
  
        .cobbler-shaker-fail__img {
          height: 300px;
        }
      }
    
      button {
        margin: 20px;
        background-color: $button-color;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        border: 2px solid black;
      }
    }
  }


.hide{
  display: none;
}